<main id="main" class="main">
    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body pt-4">
            <h5 class="card-title" style="font-size: 25px; font-weight: bold">{{data.examTitle}}</h5>
              <h5 class="card-title" style="font-size: 25px; font-weight: bold">Đề bài</h5>
              <p>
                {{data.examDescription}}
              </p>
  
            </div>
          </div>
        </div>
  
      </div>
      <div class="row">
        <div class="col-xl-12">
  
          <div class="card">
            <div class="card-body pt-4">
              <h3 class="card-title" style="font-size: 25px; font-weight: bold">Bài làm</h3>
              {{secondsToMinutesSeconds(countdown)}}
                


<!--   
              <select class="form-select form-select-sm mt-3 mb-3">
                <option value="1">Thuật toán pesudo-space</option>
                <option value="2">Thuật toán open-space</option>
  
              </select> -->
          
              <form [formGroup] = "textAreaForm">
                <textarea cols="64" rows = "10" class ="form-control" style="width: 100%;" formControlName="textArea"></textarea>
                </form>
  
              <!-- <textarea id="textArea"  cols="64" rows = "10" style="width: 100%; border-radius: 3px;" class ="form-control" [(ngModel)]="data"></textarea> -->
              
              <button type="submit" class="btn btn-primary mt-3 float-end" (click)="onClickForm()">Nộp bài</button>
            </div>
          </div>
  
        </div>
      </div>
    </section>
  
  </main><!-- End #main -->
  
  